.createform{
    width: 70%;
   height: 500px;
    margin: auto;
    font-size: larger ;
}

.createform label{
    display: block;
}
/* .createform input{
    width: 100%;
  
   border-radius: 10px;
} */
.createform input{
    width: 100%;
    padding: 3px;
    padding-left: 10px;
    border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
  box-shadow: none;
  margin-bottom: 10px;
}

.description textarea{
     width: 100%;
      border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
  box-shadow: none;
}
.formprice{
    width: 30%;
}
.formlocation{
    width: 65%;
}
.createdesign{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.createadd{
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px;
    padding-left: 7px;
    padding-right: 7px;
    margin-top: 20px;
}

/* listing details */
.showcard{
    width: 50%;
   margin-left: 20%;
}
.showcard img{
   height: 230px;
  width: 100%;
   border-radius: 20px;
}
.showbtns{
    display: flex;
    flex-wrap: wrap;

}
.showedit{
     background-color: rgb(255, 0, 0);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px;
    padding-left: 12px;
    padding-right: 12px;
}
.delete{
    background-color: rgb(12, 12, 12);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px;
    padding-left: 7px;
    padding-right: 7px;
    margin-left:13px ;

}
.review{
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px;
    padding-left: 7px;
    padding-right: 7px;
    margin-left:13px ;

}
.reviewform{
    
     width: 50%;
   margin-left: 20%;
   margin-top: 60px;
   border: 1px solid darkgray;
   padding: 20px;
}
.hr{
    margin-top: 60px;
}
.reviewcomments{
   margin-top: 30px;

}
.showreviews{
    margin-top: 60px;
    width: 50%;
    margin-left: 20%;
    display: grid;
     grid-template-columns: repeat(2, 1fr);
     gap: 10px;
     justify-content: space-evenly;
   
}
.reviews{
    border: darkgray 1px solid;
    width: 300px;
    height: fit-content;
    padding: 5px;
    
}
@media (max-width:1000px) {
    .showcard{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .showbtns{
        margin-top: 20px;
    }
    .reviewform{
        margin-top: 50px;
        width: 90%;
         margin-left: auto;
        margin-right: auto;
    }
    .showreviews{
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        display: grid;
         grid-template-columns: repeat(1, 1fr);
        
    }
    .reviews{
    border: darkgray 1px solid;
    width: 100%;
    height: fit-content;
    padding: 5px;
    
}

}
/* navbar */
.nav-right{
    margin-left: auto;
    margin-right: 20px;
}